

<div class="col-lg-10 mx-md-auto mt-md-3">
    <h5>Your videos</h5>
    <hr/>
    <div ng-repeat="video in myVideos">
        <div class="row mb-3 ">
            <div class="col-lg-3 col-md-4 my-auto" ng-click="openLink(video)">
            <img class="img-fluid"  ng-src="{{video.thumbnailUrl}}"  alt=""></a>
            </div>
        <div ng-click="openLink(video)" class="col-lg-7 col-md-6 my-auto">
            <h5 >{{video.title}}</h5>
            <!--   <h6 class="text-muted">{{video.uploadedBy}}</h6> -->
            <p class="text-muted">{{video.viewCount}}</p>
        </div>
        <div class="my-auto col-lg-2 col-md-2">
            <i ng-click="deleteVideo(video)" class="fas fa-trash cl-lg-12 mr-4"></i>
            <i class="fas fa-pen-square"></i>
        </div>
    </div>
    
</div>
