<div class="row">
    <div ng-click="openLink(video)" ng-repeat="video in myVideos" class="col-lg-3 col-md-6 col-sm-6 col-* mb-4">

        <div class="clip container-fluid align-items-center">
            <img class="img-fluid" ng-src="{{video.thumbnailUrl}}" alt=""/>
            <div class="">
                <h5>{{video.title}}</h5>
                <h6 class="text-muted">{{video.uploadedBy}}</h6>
                <p class="text-muted">{{video.viewCount}}</p>
            </div>
            <button ng-click="deleteVideo(video)">Delete video</button>
        </div>
    </div>
</div>