<div class="row">

	<div class="col-lg-8 col-md-12 embed-responsive embed-responsive-16by9">
	<video class="embed-responsive-item" src="{{currentVideo.videoUrl}}" controls controlsList="nodownload"></video>
</div>
<div class="side-clip col-lg-4 d-none d-xl-block d-lg-block d-md-none mx-md-auto ">

	<div ng-click="openLink(video)" ng-repeat="video in videos | limitTo:9">
	<div class="row side-clipmb-2">
		<div class="col-lg-5 my-auto">
		 <img class="img-fluid"  ng-src="{{video.thumbnailUrl}}"  alt=""></a>
		 </div>
		 <div class="clip col-lg-5">
            <h5>{{video.title}}</h5>
            <h6 class="text-muted">{{video.uploadedBy}}</h6>
            <p class="text-muted">{{video.viewCount}}</p>
        </div>
	</div>
	</div>


</div>	


	<div class="row">
		<div class="col-xl-8 col-lg-8 col-md"> 
			<h3 class="video-title">&nbsp;&nbsp;{{currentVideo.title}}</h3>
			<h6><i><strong>Uploaded by: </strong></i> {{currentVideo.uploadedBy}}</h6>

			<h6><i><strong>Description: </strong></i> {{currentVideo.description}}</h6>
			<h6><i><strong>Tags: </strong></i> {{currentVideo.tags}}</h6>
		</div>
	</div>


</div> 