<div class="row">
    <div class="col-12">
    <h5>Recently added</h5>
    <hr/>
    </div>
    <div ng-click="openVideoLink(video)" ng-repeat="video in videos track by $index | limitTo:5 " style="animation: riseUp {{ (0.3 + 0.1 * $index) + 's' }} ease-in" class="col-lg-3 col-md-6 col-sm-6 col-* mb-4">
        
        <div class="clip container-fluid align-items-center">
        <img class="img-fluid img-vid"  ng-src="{{video.thumbnailUrl}}" alt="">
        <div class="">
            <h5>{{video.title}}</h5>
            <h6 class="text-muted uploaded-by" ng-click="openUserLink(video)">{{video.uploadedBy}}</h6>
            <p class="text-muted">{{video.viewCount}} views &nbsp;<i class="fas fa-circle align-middle" style="font-size: 4px;"></i> 
            &nbsp;<span am-time-ago="video.uploadDate"></span></p>
          
        </div>
        
    </div>
</div>
</div>