<!-- <div class="row">
    <div ng-click="openLink(video)" ng-repeat="video in videos" class="col-lg-3 col-md-6 mb-4">
        <div  class="card h-80">
            <a href="#"><img class="card-img-top" ng-src="{{video.thumbnailUrl}}" alt=""></a>
            <div class="card-body">
                <h5 class="card-title">{{video.title}}</h5>
                <h6>{{video.uploadedBy}}</h6>
                <h6>{{video.viewCount}}</h6>
            </div>
        </div>
    </div>
</div>
-->
<div class="row">
    <div ng-click="openLink(video)" ng-repeat="video in videos" class="col-lg-3 col-md-6 col-sm-6 col-* mb-4">
        
        <div class="clip container-fluid align-items-center">
        <img class="img-fluid img-vid"  ng-src="{{video.thumbnailUrl}}" alt=""></a>
        <div class="">
            <h5>{{video.title}}</h5>
            <h6 class="text-muted">{{video.uploadedBy}}</h6>
            <p class="text-muted">{{video.viewCount}}</p>
        </div>
        
    </div>
</div>
</div>