<div ng-if="!notFound && !serverError" class="row" style="animation: riseUp 0.5s ease-in">
    <!--  video player -->
    <div class="col-lg-8 col-md-12 col-12 embed-responsive embed-responsive-16by9 videoDisplay">
        <video class="embed-responsive-item" ng-src="{{currentVideo.videoUrl}}" ng-attr-poster="{{currentVideo.thumbnailUrl}}"
            controls controlsList="nodownload">
        </video>
    </div>
    <div class="col-lg-4 d-none d-xl-block d-lg-block d-md-none mx-md-auto mt-md-1">
        
        <h6 class="">{{categoryTitle}}</h6>
        
        <hr/>
        <!-- side clips -->
        <div class="side-clips">
            <div ng-click="openVideoLink(video)" ng-repeat="video in videos">
                <div class="row side-clip mb-lg-3 ">
                    <div class="col-lg-5 ml-2 my-auto">
                    <img class="img-fluid img-vid" ng-src="{{video.thumbnailUrl}}" alt=""></a>
                </div>
                <div class="clip my-auto col-lg-6">
                    <h6 class="side-clip-title">{{video.title}}</h6>
                    <h6 class="text-muted uploaded-by" ng-click="openUserLink(video)">{{video.uploadedBy}}</h6>
                    <p class="text-muted">{{video.viewCount}} views</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content under the video -->
<div class="col-xl-8 col-lg-8 col-md-12 col-12 ml-0 " >
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-6 mt-3">
            <h3 class="video-title">{{currentVideo.title}}</h3>
            <p class="text-muted">{{currentVideo.viewCount}} views</p>
        </div>
        <!--   if user is logged -->
        <div class="col-xl-6 col-lg-6  col-md-6 col-6 my-auto" ng-if="logged" >
            <span class="text-muted float-right ">
                <i ng-click="updateVideoRate(false)" ng-class='isDislikedByMe ? "isVotedByUser" : "isNotVotedByUser"' class=" far fa-thumbs-down" id="dislike-button" title="Dislike this video!"></i>&nbsp;
                {{currentVideo.dislikedByUserIDs.length}}
            </span>
            <span class="text-muted mr-3 float-right">
                <i ng-click="updateVideoRate(true)" ng-class='isLikedByMe ? "isVotedByUser" : "isNotVotedByUser"' class="far fa-thumbs-up" id="like-button" title="Like this video!"></i>&nbsp;{{currentVideo.likedByUserIDs.length}}
            </span>
            <span class="text-muted float-right mr-3"  id="addPlaylist">
                <!-- <i ng-click="getLoggedUserPlaylist(logged.userId)" data-toggle="collapse" class=" fas fa-plus" data-target="#collapseExample"  title="Add to playlist."></i> -->
                <img ng-click="getLoggedUserPlaylist(logged.userId)" id="addPlaylist" data-toggle="collapse" src="assets/img/playlistAdd.png" data-target="#collapseExample" style="opacity: 1;" title="Add to playlist." alt="">
            </span>
        </div>
        <!--  if user isn't logged -->
        <div class="col-xl-6 col-lg-6  col-md-6 col-6 my-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-if="!logged">
            <span class="text-muted float-right ">
                <i  class=" far fa-thumbs-down" id="dislike-button" title="Dislike this video!"></i>
                &nbsp;{{currentVideo.dislikedByUserIDs.length}}
            </span>
            <span class="text-muted mr-3 float-right">
                <i  class="far fa-thumbs-up" id="like-button" title="Like this video!"></i>
                &nbsp;{{currentVideo.likedByUserIDs.length}}
            </span>
            <span class="text-muted float-right mr-3" id="addPlaylist" style="opacity: 1;">
                <!--  <i   class=" fas fa-plus" data-target="#collapseExample" style="opacity: 1;" title="Add to playlist."></i> -->
                <img src="assets/img/playlistAdd.png" data-target="#collapseExample"  title="Add to playlist." alt="">
            </span>
        </div>
        
        <!-- dropdown when user is not logged -->
        <div class="dropdown-menu noselect p-3 pt-1 mt-2 ml-lg-5 ml-md-5 ml-0" style="animation: riseUp 0.3s linear">
            <p>Sign in to use this options.</p>
            <hr class="col-8" />
            <a class="nav-link text-info text-center" href="signin.html#!/#login" ng-click="signinRedirect()">SIGN IN</a>
        </div>
    </div>
    <!--  playlists dropdown -->
    <div class="collapse col-lg-12 col-md-12" id="collapseExample">
        <div class="d-inline  col-12 mx-auto noselect" ng-repeat="playlist in userPlaylists" ng-click="toggleSong(playlist)" >
            <label  for="{{playlist._id}}" id="playlistsDropdown">
                <input class="mb-3"  type="checkbox" value="checked" id="{{playlist._id}}" ng-checked="playlist.isChecked">
                <label>{{playlist.title}}</label>
            </label>
        </div>
        <div class="col-lg-12 text-right mb-4 noselect">
            <input class="col-lg-4 col-md-4 col-6 form-control form-control-sm d-inline " type="text" placeholder="Create new playlist" ng-model="newPlaylistTitle.title" maxlength="20"/>
            <i class="fas fa-check col-lg-1 col-md-1 col-1 align-middle" ng-click="createPlaylist()" title="Create new playlist!"></i>
        </div>
    </div>
    
    <hr style="margin-top: 0;"/>
    <h6><i><strong>Uploaded by: </strong></i><span class="uploaded-by" ng-click="openUserLink(currentVideo)"> {{currentVideo.uploadedBy}}</span></h6>
    <h6><i><strong>Description: </strong></i> {{currentVideo.description}}</h6>
    <h6><i><strong>Published on: </strong></i> &nbsp;{{currentVideo.uploadDate | date:'MMM d, y'}}</h6>
    <h6><i><strong>Tags: &nbsp;</strong></i>
    <span ng-repeat="tag in currentVideo.tags" ng-click="searchVideosByTag(tag)"><span class="selected-video-tag">{{tag}}&nbsp;&nbsp;&nbsp;<i class="far fa-dot-circle"></i></span></span>
    </h6>


    <hr>

    <div class="row">
        <div ng-controller="chat" class="col-lg-12 mb-5">
            <div ng-if="logged" class="mb-3 text-center">
                <input id="commentInput" class="col-lg-10 col-md-10 col-10 mb-2" ng-model="newChat.msg" class="form-control form-control-sm d-inline" placeholder="Add comment" maxlength="250" ng-keypress="listenForEnter($event)" />

                <button id="commentBtn" class="btn btn-sm btn-outline-secondary border col-lg-2 col-md-2 col-2 align-middle" ng-disabled="!newChat.msg || !newChat.username" ng-click="send()"><i class="fas fa-comment"></i></button>
            </div>
            <div class="row mb-2 ml-2" ng-repeat="chat in chats">
                <div class="col-lg-1 col-md-1 col-1 mr-lg-2 mr-md-2 mr-3">
                <img class="img-responsive commentImg" src="{{chat.imageUrl}}" alt="" style="">
                </div>
                <div class="col-lg-9 col-md-9 col-9 ml-lg-1 ml-md-0 ml-2">
                <span>{{chat.username}} <small class="text-muted " am-time-ago="chat.time"></small></span>
                <p class="col-lg-8 comments">{{chat.msg}}</p>
                </div>

            </div>
            
            
        </div>
    </div>
</div>
<div ng-if="notFound">
    <div ng-include src="'assets/html/notFound.htm'"></div>
</div>
<div ng-if="serverError">
    <div ng-include src="'assets/html/serverError.htm'"></div>
</div>