<div ng-if="isValidUser" class="col-lg-12 mx-md-auto mt-md-3">
    
    
    <div class="row" >
        <div class="mx-auto my-auto">
            <img class="rounded-circle d-inline" src="{{user.imageUrl}}" width="80vh" height="80vh" style="animation: riseUp 0.5s linear" alt="">
            <h3 class="col-lg-8 col-md-8 col-7 align-middle d-inline" style="animation: riseUp 0.4s ease-in">{{user.username}}'s profile</h3>
        </div>
    </div>
    <div class="row mt-3" >
        <a class="custom-links mx-auto" href="/#!/user/{{user._id}}/videos">VIDEOS</a>
        <a class="custom-links mx-auto" href="/#!/user/{{user._id}}/playlists">PLAYLISTS</a>
    </div>

    <hr/>
    <div class="row ">
        <div ng-if="hasVideos" ng-repeat="video in userVideos | orderBy: sortSelect" class="col-lg-4 col-md-6  col-12 mb-4 " style="animation: riseUp {{ (0.4 + 0.1  * $index) + 's' }} ease-in">
            <div class="clip container-fluid " ng-click="openVideoLink(video)">
                <img class="img-fluid img-vid"  ng-src="{{video.thumbnailUrl}}" alt="">
                <div class="">
                    <h5>{{video.title}}</h5>
                    <h6 class="text-muted uploaded-by" ng-click="openUserLink(video)">{{video.uploadedBy}}</h6>
                    <p class="text-muted">{{video.viewCount}} views&nbsp;<i class="fas fa-circle align-middle" style="font-size: 4px;"></i> &nbsp;{{video.uploadDate | date:'MMM d, y'}}</p>
                </div>
            </div>
        </div>
        <div ng-if="!hasVideos" >
            <h1 class=" mb-2">{{user.username}} hasn't uploaded any videos yet.</h1>
        </div>
    </div>
    <div ng-if="!isValidUser">
        <h1 class="mb-2">{{errMsg}}</h1>
    </div>