<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITTalents TV Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="assets/css/login-styles.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


  </head>
  <body ng-app="app" style="animation: riseUp 0.4s ease-in">
    <div ng-controller="SigninController">
      <div class="alert alert-danger alert-dismissible fade show container-fluid" ng-hide="!wrongCredentials" style="animation: riseUp 0.3s ease-in-out; position: fixed;">
        <button type="button" ng-click="closeError()" class="close align" >&times;</button>
        <span id="error">{{wrongCredentials}}</span>
      </div>
      <div class="alert alert-success alert-dismissible fade show container-fluid" ng-hide="!successReg" style="animation: riseUp 0.3s ease-in-out; position: fixed;">
        <span id="alertSuccess">{{successReg}}</span>
      </div>
      <div class="form">
        <a href="/"><img src="assets/img/dark-logo.png"/></a>
        <form class="register-form">
          <input type="text" ng-model="rUsername" placeholder="name" required minlength="4"/>
          <input type="password" ng-model="rPassword" placeholder="password" required minlength="8"/>
          <input type="email" ng-model="rEmail" placeholder="email address" required minlength="6"/>
          <button ng-click="register()">create</button>
          <p class="message">Already registered? <a id="back" href="#login" ng-click="closeError()">Sign In</a></p>
        </form>
        <form class="login-form">
          <input type="text" ng-model="username" placeholder="username" required minlength="4"/>
          <input type="password" ng-model="password" placeholder="password" required minlength="8"/>
          <button ng-click="login()">login</button>
          <p class="message">Not registered? <a href="#register" ng-click="closeError()">Create an account</a></p>
        </form>
      </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
     <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/signin/signinController.js"></script>
    <script src="assets/js/signin/login-animation.js"></script>
                <script src="http://momentjs.com/downloads/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js"></script>
  </body>
</html>